<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>饮料|星巴克</title>
</head>

<body>
  <header>
    <div class="head_top">
      <div id="left"><span></span></div>
      <span class="menuss">菜单</span>
    </div>
    <ul class="head_ul">
    </ul>
  </header>
  <section>
  </section>
  <div class="foot">
    <span>实际产品以门店供应为准。</span>
  </div>
  <footer class='footer'>
    <ul>
      <li>
        <a href=" ">
          <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-home.svg" alt="">
          <span>主页</span>
        </a>
      </li>
      <li>
        <a href="./store.html">
          <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-stores.svg" alt="">
          <span>门店</span>
        </a>
      </li>
      <li>
        <a href="./account.html">
          <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-account.svg" alt="">
          <span>我的账户</span>
        </a>
      </li>
      <li>
        <a href="./menu.html">
          <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-menu-active.svg" alt="">
          <span>菜单</span>
        </a>
      </li>
      <li>
        <a href="./more.html">
          <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-more.svg" alt="">
          <span>更多</span>
        </a>
      </li>
    </ul>
  </footer>
</body>

</html>