<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="./store.css">
		<title>Document</title>
		<script src="https://webapi.amap.com/loader.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="Search">
				<div class="Search_top" @click="DialogShow = !DialogShow">
					<van-icon name="location" color="#00A862"></van-icon>
					<span>{{ area.province }}</span>
					<span>{{ area.city }}</span>
					<span>{{ area.district }}</span>
					<van-icon name="arrow-down"></van-icon>
				</div>
				<div class="Search_bottom">
					<van-search v-model="SearchValue" placeholder="请输入地名" show-action>
						<div slot="action" @click="onSearch">筛选</div>
					</van-search>
				</div>
			</div>
			<div id="Map"></div>
			<ul v-show="nearBy.length > 0" class="List">
				<li v-for="(item, index) in nearBy" :key="index">
					<div class='Number'>
            <span>{{ index + 1 }}</span>
            <img src='https://www.starbucks.com.cn/assets/icons/icon-pin-solid-grey.svg' alt=''>
          </div>
					<div class="text">
						<h6>
              {{ item.name }}
              <img src='https://www.starbucks.com.cn/assets/icons/delivery.png' alt=''>
              <img src='https://www.starbucks.com.cn/assets/icons/icon-mop.svg' alt=''>
            </h6>
						<p>{{ item.address }}</p>
						<b>{{ item.distance }} km</b>
					</div>
					<van-icon name="info-o"></van-icon>
				</li>
			</ul>
			<div v-show="nearBy.length == 0" class="Loading">本区暂无门店</div>
      <van-tabbar v-model="active" inactive-color="#000">
        <van-tabbar-item icon="wap-home-o" url='./home.html'>首页</van-tabbar-item>
        <van-tabbar-item icon="shop-collect-o" url='./store.html'>门店</van-tabbar-item>
        <van-tabbar-item icon="user-o" url='./account.html'>我的账户</van-tabbar-item>
        <van-tabbar-item icon="apps-o" url='./menu.html'>菜单</van-tabbar-item>
        <van-tabbar-item icon="more-o" url='./more.html'>更多</van-tabbar-item>
      </van-tabbar>
			<van-popup v-model="DialogShow" position="bottom">
				<van-area
					ref="myArea"
					:area-list="areaList"
					@confirm="DialogConfirm"
					@cancel="DialogShow = false"
				/>
			</van-popup>
		</div>
	</body>
	<script src="//cdn.suoluomei.com/common/js2.0/vue/v2.5.16/vue.js"></script>
	<script src="//cdn.suoluomei.com/common/js2.0/vant/v2.12/vant.min.js"></script>
	<script type="module" src="./store.js"></script>
</html>