@import "//cdn.suoluomei.com/common/js2.0/vant/v2.12/index.css";

* {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .Search {
    padding: 16px 16px 8px;

    .Search_top {
      display: flex;
      align-items: center;

      span {
        margin: 0 5px;
      }
    }

    .van-search__action {
      color: #00A862;
    }

  }

  #Map {
    height: 40%;
  }

  .List {
    height: calc(60% - 150px);
    overflow: scroll;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 20px;

      .Number {
        width: 24px;
        position: relative;

        span {
          position: absolute;
          text-align: center;
          color: white;
          width: 100%;
          font-size: 1rem;
          z-index: 1;
        }

        img {
          position: relative;
          right: auto;
          top: 0;
          width: 24px;
        }

      }

      .van-icon-info-o {
        color: #4DC291;
        font-size: 24px;
      }

      .text {
        margin: 0 10px;
        flex: 1;

        h6 {
          font-weight: bold;
          font-size: 17px;
          display: flex;
          align-items: center;

          img:first-child {
            width: 28px;
          }

          img {
            margin-left: 4px;
            width: 40px;
            vertical-align: middle;
          }

        }

        p, b {
         margin: 10px 0;
         color: rgba(0, 0, 0, 0.56);
         font-size: 14px;
        }
      }
    }
  }

  .Loading {
    height: calc(60% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

