<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.0/swiper-bundle.min.css" />
</head>

<body>
  <div class="box">
    <!-- 头部标题 -->
    <div class="header">
      <p>心情惬意，来杯咖啡吧 ☕</p>
    </div>

    <!-- 轮播图部分 -->
    <div class="Carousel">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img
              src="https://artwork.starbucks.com.cn/banners-homepage-banner/main_7fc4f760-6926-4eeb-9304-06581dd9a737.jpg"
              alt=""></div>
          <div class="swiper-slide"><img
              src="https://artwork.starbucks.com.cn/banners-homepage-banner/main_85819d0d-0878-4e92-95a8-a944799b631e.png"
              alt=""></div>
          <div class="swiper-slide"><img
              src="https://artwork.starbucks.com.cn/banners-homepage-banner/main_9b62183b-633a-4dc1-a4a6-627a22cca859.png"
              alt=""></div>
        </div>
        <div class="swiper-button-next"></div>


      </div>
      <!-- 广告 -->
      <div class="advertisement">
        <p>广告</p>
      </div>
    </div>

    <!-- 三小图部分 -->
    <div class="santu">
      <img src="https://www-static.chinacdn.starbucks.com.cn/prod/images/pages/tmall-2020-06-29-zh.jpg" alt="">
      <img src="https://www-static.chinacdn.starbucks.com.cn/prod/images/pages/starbucks-design-studio-web-china.jpg"
        alt="">
      <img src="https://www-static.chinacdn.starbucks.com.cn/prod/images/pages/homepage-career-new.png" alt="">
    </div>

    <!-- 星享俱乐部 -->
    <div class="club">
      <div class="club_top">
        <p>
        <h2>星享俱乐部</h2>
        </p>
        <p>开启您的星享之旅，星星越多、会 <br> 员等级越高、好礼越丰富。<br> <a href="/">了解更多></a></p>
        <!-- 注册登录超链接 -->
        <div class="zhucedenglu">
          <div class="zhuce"><a href="">注册</a></div>
          <div class="denglu"><a href="">登录</a></div>

        </div>
      </div>

      <div class="club_logo">
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/logo-msr-20210601.svg" alt="">
      </div>
    </div>

    <!-- 星巴克精选 -->
    <div class="jingxuan">
      <h2>星巴克精选</h2>
      <p>在星巴克天猫旗舰店发现更多咖啡心意</p>
    </div>

    <!-- 四张卡片 -->
    <div class="sizhang">
      <div class="first">
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/tmall-card-01-update.png"
          alt="">
        <p><strong>会员星礼包</strong></p>
        <p>星享卡新升级</p>
        <p>更多心意好礼</p>
        <p><a href="/">了解更多</a></p>
      </div>
      <div class="first">
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/tmall-card-02.png" alt="">
        <p><strong>星礼卡</strong></p>
        <p>用一份心礼</p>
        <p>让心意相随</p>
        <p><a href="/">了解更多</a></p>
      </div>
      <div class="first">
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/tmall-eticket.png" alt="">
        <p><strong>电子产品券</strong></p>
        <p>心意</p>
        <p>从这一杯开始</p>
        <p><a href="/">了解更多</a></p>
      </div>
      <div class="first">
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/tmall-reserve.png" alt="">
        <p><strong>咖啡生活或</strong></p>
        <p>星巴克</p>
        <p>用心制作</p>
        <p><a href="/">了解更多</a></p>
      </div>
    </div>

    <!-- 底部轮播部分 -->
    <div class="kafei">
      <h3>1912 派克街 | 咖啡星讲堂</h3>
      <p>了解更多星巴克咖啡文化</p>
      <ul class="lunbo2" style="left: 0;">
        <li>
          <img
            src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/coffeehouse-4-fundamentals-kv.jpg"
            alt="">
          <p>咖啡的起源与栽培</p>
          <span>咖啡知识</span>
        </li>
        <li>
          <img
            src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/coffeehouse-pour-over-kv.jpg"
            alt="">
          <p>咖啡调剂</p>
          <span>咖啡评鉴</span>
        </li>
        <li>
          <img
            src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/coffeehouse-roast-story-kv.jpg"
            alt="">
          <p>咖啡知识</p>
          <span>咖啡烘培</span>
        </li>
        <li>
          <img
            src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/coffeehouse-pour-over-kv.jpg"
            alt="">
          <p>手冲咖啡</p>
          <span>咖啡评鉴</span>
        </li>
      </ul>
      <div class="left">＜</div>
      <div class="right">＞</div>
    </div>

    <div class="license">
      <p>
        <span>
          <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402000253" target="_blank">
            <img width="10" height="10"
              src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/icpicon.png">&nbsp;沪公网安备
            31010402000253号
          </a>
        </span>
        |
        <a href="http://beian.miit.gov.cn" target="_blank">沪ICP备17003747号-1</a>
      </p>
    </div>

    <!-- 脚部分 -->
    <div class="footer">
      <div class="footer_fang">
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-home-active.svg" alt="">
        <p><a href="./home.html"> 主 页 </a></p>
      </div>
      <div class="footer_fang">
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-stores.svg" alt="">
        <p><a href="./store.html"> 门 店 </a></p>
      </div>
      <div class="footer_fang">
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-account.svg" alt="">
        <p><a href="./account.html">我的账户</a></p>
      </div>
      <div class="footer_fang">
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-menu.svg" alt="">
        <p><a href="./menu.html"> 菜 单 </a></p>
      </div>
      <div class="footer_fang">
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-more.svg" alt="">
        <p><a href="./more.html"> 更 多 </a></p>
      </div>
    </div>
  </div>
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper@6.8.0/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->

  <!-- <script src="./home.js"></script> -->
</body>

</html>